---
import { changeCurrentPathLang, getLangFromUrl, useTranslations } from '../i18n/utils';
import { languages } from '../i18n/ui';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentPath = Astro.url.pathname;





import NavLink from "./NavLink.astro";
import logo from "../assets/logo.svg";
import burger from "/assets/burger.svg";
import translate from "../assets/translate.svg";
---

<header class="flex max-w-7xl h-9 w-full justify-between items-center">
  <a href={`/${lang}`}><img src={logo} alt="logo" width="36px" /></a>
  <img class="max-md:block hidden z-30" id="burger" src={burger} alt="" />
  <nav
    id="menu"
    class="max-md:hidden max-md:absolute top-20 left-0 max-md:w-full max-md:h-[calc(100%-5rem)] max-md:z-20 flex max-md:justify-center max-md:items-center max-md:bg-gradient-to-br max-md:from-purple-light max-md:to-purple-dark max-md:bg-fixed transition-all"
  >
    <ul
      class="max-md:justify-start max-md:h-full max-md:text-2xl max-md:flex-col text-primary flex gap-8 uppercase font-bold items-center max-md:pt-16"
    >
      <NavLink url={`/${lang}/${t('nav.about').path}`} title={t('nav.about').title} />
      <NavLink url={`/${lang}/${t('nav.projects').path}`} title={t('nav.projects').title} />
      <NavLink url={`/${lang}/contact`} title="contact" />
      <li class="self">
        <label class="flex bg-secondary relative w-max h-max " for="languages">
          <img class="absolute top-1/2 -translate-y-1/2 left-0 scale-75 pointer-events-none" src={translate} alt="translate logo" aria-hidden="true">
          <select name="languages" id="languages" class="bg-secondary pl-8 py-1 start-4 w-max ">
            {
              Object.entries(languages).map(([language, label]) => <option class="w-full" value={label} selected={language === lang} data-changeLangPath={changeCurrentPathLang(currentPath,lang,language)}>{label}</option>)
            }
          </select>
        </label>
      </li>
    </ul>
  </nav>
</header>

<script>
  const burger = document.getElementById("burger");
  const menu = document.getElementById("menu");
  const body = document.querySelector("body");

  burger.addEventListener("click", toggleMenu);

  function toggleMenu() {
    menu.classList.toggle("max-md:hidden");
    menu.classList.toggle("open");
    body.classList.toggle("overflow-hidden");
    const isOpen = [...menu.classList].includes("open");
    burger.src = isOpen ? "/assets/x-circle.svg" : "/assets/burger.svg";
  }

  const languages = document.querySelector("#languages");

    languages.addEventListener("change", (e) => {
      window.location.replace(e.target.options[e.target.selectedIndex].dataset.changelangpath)
    })
    
</script>
